<h1>Nuevo Comic PROCEDURE</h1>

<a asp-controller="Comics" asp-action="Index">
    Volver
</a>

<form method="post">
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre" />
    <label>Imagen</label>
    <input type="text" class="form-control" name="imagen" />
    <label>Descripcion</label>
    <input type="text" class="form-control" name="descripcion" />

    <button class="btn btn-outline-dark">
        Crear Comic
    </button>
</form>