@model Comic
<h1>Editar Comic</h1>

<a asp-controller="Comics" asp-action="Index">
    Volver
</a>

<form method="post">
    <input type="hidden" class="form-control" name="idcomic" value="@Model.IdComic"/>
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre" value="@Model.Nombre" />
    <label>Imagen</label>
    <input type="text" class="form-control" name="imagen" value="@Model.Imagen" />
    <label>Descripcion</label>
    <input type="text" class="form-control" name="descripcion" value="@Model.Descripcion" />

    <button class="btn btn-outline-dark">
        Editar
    </button>
</form>